body {
    transition: all .8s;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(137, 0, 201);
    }

    .ar {
        position: absolute;
        top: 50px;
        left: 15px;
        width: 650px;
        background-color: aliceblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 15px rgb(0, 0, 0);
    }

    .arb {
        position: relative;
        left: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .en {
        position: absolute;
        top: 50px;
        right: 15px;
        width: 650px;
        background-color: aliceblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 15px rgb(0, 0, 0);
    }

    .eng {
        position: relative;
        left: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .bravo{
        position: relative;
        left: 200px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .qsar {
        position: absolute;
        top: 275px;
        left: 15px;
        width: 650px;
        background-color: aliceblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 15px rgb(0, 0, 0);
    }

    .arabic {
        position: relative;
        left: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .qsen {
        position: absolute;
        top: 275px;
        right: 15px;
        width: 650px;
        background-color: aliceblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 15px rgb(0, 0, 0);
    }

    .question {
        position: absolute;
        top: 450px;
        left: 500px;
        width: 300px;
        height: 150px;
        background-color: aliceblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 15px rgb(0, 0, 0);
    }

    .batman{
        position: relative;
        top: 30px;
        left: 50px;
        width: 200px;
        height: 50px;
        border-radius: 20px;
    }

    .confirm {
        position: relative;
        top: 90px;
        right: 90px;
        border-radius: 20px;
        background-color: rgb(137, 0, 201);
    }

    @media all and (max-width: 1000px) {

    body {
        overflow-y: scroll;
        }
    .ar {
    width: 900px;
    height: 700px;
    left: 50px;
    text-align: center;
    margin: 5px 0;
    font-size: 50px;
    }

    .arb {
        position: relative;
        left: -5px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .qsar {
        top: 800px;
        left: 50px;
        width: 900px;
        font-size: 50px;
    }

    .question {
        position: absolute;
        top: 1400px;
        left: 170px;
        width: 700px;
        height: 350px;
    }

    .batman{
        width: 600px;
        height: 150px;
        font-size: 60px;
    }

    .confirm {
        width: 300px;
        height: 100px;
        top: 70px;
        left: 200px;
        font-size: 50px;
    }

    .en {
    width: 900px;
    top: 1800px;
    height: 600px;
    left: 50px;
    text-align: center;
    margin: 5px 0;
    font-size: 43px;
    }

    .eng {
        position: relative;
        left: -5px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .qsen {
        top: 2500px;
        left: 50px;
        width: 900px;
        font-size: 43px;
    }

    

    }

